<div class="divTable">
    <div class="divTableBody">
        {{#each partials.jobsContext}}
            <div class="divTableRow">
                <div class="divTableCell">{{job.name}}</div>
                <div class="divTableCell">{{job.color}}</div>
                <div class="divTableCell">{{description}}</div>
            </div>
        {{/each}}
    </div>
</div>
