<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Work organizer - error</title>
  </head>
  <body>
    <div class="container-fluid">
      <br />
      <div class="card text-center">
        <div class="card-header alert alert-danger">
          Something went wrong!
        </div>
        <div class="card-body">
          {{{body}}}
        </div>
        <div class="card-footer text-muted">
          <a href="/" role="button" class="btn btn-dark btn-lg btn-block">Return to home page</a>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  </body>
</html>
