<!doctype html>
<html>
  <head>
      <link rel="stylesheet" href="css/styles.css">
      <title>Express app</title>
  </head>
  <body>
    <img src="/img/logo.png" alt="Logo for express app">
    {{{body}}}
    <a href="/" data-test-id="home">Return to home page</a>
  </body>
</html>
