<!doctype html>
<html>
<head>
    <title>Express app</title>
</head>
<body>
<p>Not default layout. If we want to use it (when defaultLayout: 'main' is set) this layout name
    should be passed as a parameter to the context</p>
{{{body}}}
</body>
</html>
