<h1>Welcome in Express from scratch project</h1>
<p>Move to:
    <ul>
        <li><a href="/about" data-test-id="about">About</a></li>
        <li><a href="/about/contact" data-test-id="contact">Contact</a></li>
        <li><a href="/other" data-test-id="other">Other</a></li>
    </ul>
</p>
