<h3 class="text-center">Current notes</h3>
{{> notes_list}}

<h3 class="text-center">Add new note</h3>
<div id="addNoteFormContainer">
    <form role="form" id="addNoteForm">
        <div class="form-group">
            <label for="noteTitle">Note title</label>
            <input type="text" class="form-control" id="noteTitle" name="noteTitle">
        </div>
        <div class="form-group">
            <label for="noteDescription">Note description</label>
            <textarea class="form-control" id="noteDescription" rows="3" name="noteDescription"></textarea>
        </div>

        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-primary">Save note</button>
            </div>
        </div>
    </form>
</div>

<script src="scripts/forms.js"></script>
