<h3 class="text-center">Current tasks</h3>
{{> tasks_list}}

<h3 class="text-center">Add new task</h3>
<div id="addTaskFormContainer">
    <form role="form" id="addTaskForm">
        <div class="form-group">
            <label for="taskName">Task name</label>
            <input type="text" class="form-control" id="taskName" name="taskName">
        </div>
        <div class="form-group">
            <label for="taskDescription">Task description</label>
            <textarea class="form-control" id="taskDescription" rows="3" name="taskDescription"></textarea>
        </div>
        <fieldset class="form-group row">
            <legend class="col-form-label col-sm-4">Is task started?</legend>
            <div class="col-sm-8">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="isTaskStarted" id="isTaskStartedYes" value="true" >
                    <label class="form-check-label" for="isTaskStartedYes">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="isTaskStarted" id="isTaskStartedNo" value="false" checked>
                    <label class="form-check-label" for="isTaskStartedNo">No</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <legend class="col-form-label col-sm-4">Task type</legend>
            <div class="col-sm-8">
                <div class="form-check">
                    <input class="form-check-input" name="taskType" type="checkbox" id="typeManual" value="typeManual">
                    <label class="form-check-label" for="typeManual">Manual tests</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="taskType" type="checkbox" id="typeAutomated" value="typeAutomated">
                    <label class="form-check-label" for="typeAutomated">Automated tests</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="taskType" type="checkbox" id="typeJenkins" value="typeJenkins">
                    <label class="form-check-label" for="typeJenkins">Jenkins</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="taskType" type="checkbox" id="typeOther" value="typeOther">
                    <label class="form-check-label" for="typeOther">Other</label>
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-primary">Save task</button>
            </div>
        </div>
    </form>
</div>

<script src="scripts/forms.js"></script>
